<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img [src]="logo" alt="Global Coding Club Logo" style="height: 40px;">
        Global Coding Club
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs">Blogs</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/events">Events</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
        </ul>
        <!-- <button type="button" routerLink="/contact" class="btn btn-primary">Contact Us</button> -->
    </div>
</nav>
